<!DOCTYPE html>
<html>
<head>
  <title>ummmmm......</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

  <header>
    <nav>
      <a href="/">Home</a> |
      <!-- <a href="/mood">Something</a> -->
    </nav>
    <nav>
    <a href="/auth/register">Register</a> |
<!--       <a href="/auth/login">Log in</a> |
      <a href="/auth/logout">Log out</a> -->
    </nav>
  </header>